.toggle-button-container {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--base-color);
    padding: 2px;

    .toggle-button-option {
        flex: 1;
        padding: 8px 12px;
        border: none;
        background-color: transparent;
        color: grey;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 4px;

        &:last-child {
            border-right: none;
        }

        &.active {
            background-color: var(--secondary-color);
            color: white;
        }

        &:focus {
            outline: none;
        }
    }
}
