.border-section-container {
    width: 100%;

    .border-tools-container {
        display: flex;
        flex-direction: column;
        gap: 20px;


        .border-radius-sub-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;

            .sub-heading {
                width: 30%;
                font-size: 14px;
                color: grey;
            }

            .border-radius-tools-container {
                width: 65%;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                /* gap: 10px; */
                gap: 8px;

                .boder-radius-adjustments-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 7px;
                    width: 100%;
                    height: 25px;

                    .boder-radius-adjustments {
                        display: flex;
                        width: 54%;

                        .border-radius {
                            width: 100%;
                            display: flex;
                            border-radius: 5px;
                            padding: 2px;

                            .border-radius-icon {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }

                    .boder-radius-sides-toggle {
                        height: 22px;
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: var(--base-color);
                        border-radius: 5px;

                        padding: 2px;

                        .all-sides {
                            height: 22px;
                            /* width: 22px; */
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--base-color);
                            border-radius: 3px;

                            &.active {
                                background-color: var(--secondary-color);
                            }
                        }

                        .target-sides {
                            height: 22px;
                            /* width: 22px; */
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--base-color);
                            border-radius: 3px;

                            &.active {
                                background-color: var(--secondary-color);
                            }
                        }
                    }
                }

                .boder-radius-specific-sides-selection {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;

                    .top-border {
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: rotate(180deg);
                    }

                    .bottom-border {
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: rotate(180deg);
                    }

                    .left-border {
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: rotate(-90deg);
                    }

                    .right-border {
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: rotate(90deg);
                    }

                    .border-sides {
                        height: 20px;
                        width: 42%;
                        display: flex;
                        align-items: center;
                        padding-left: 2px;
                        border-radius: 5px;
                        padding: 2px 2px 2px 4px;
                    }
                }

            }

            .border-tool {
                background-color: var(--secondary-color);
                /* border: 1px solid var(--border-color); */
            }

            input {
                width: 30px;
                background-color: var(--secondary-color);
            }
        }
    }
}

.border-width-sub-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    .sub-heading {
        width: 30%;
        font-size: 14px;
        color: grey;
    }

    .border-width-tools-container {
        width: 65%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        /* gap: 10px; */
        gap: 8px;

        .boder-width-adjustments-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 8px;
            width: 100%;
            height: 25px;

            .boder-width-adjustments {
                display: flex;
                gap: 10px;
                width: 52%;

                .border-width {
                    width: 100%;
                    display: flex;
                    border-radius: 5px;
                    padding: 2px;

                    .border-width-icon {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .boder-width-sides-toggle {
                height: 22px;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: var(--base-color);
                border-radius: 5px;

                padding: 2px;

                .all-sides {
                    height: 22px;
                    /* width: 22px; */
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--base-color);
                    border-radius: 3px;

                    &.active {
                        background-color: var(--secondary-color);
                    }
                }

                .target-sides {
                    height: 22px;
                    /* width: 22px; */
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--base-color);
                    border-radius: 3px;

                    &.active {
                        background-color: var(--secondary-color);
                    }
                }
            }
        }

        .boder-width-specific-sides-selection {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            .top-border {
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(180deg);
            }

            .bottom-border {
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(180deg);
            }

            .left-border {
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(-90deg);
            }

            .right-border {
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(90deg);
            }

            .border-sides {
                height: 20px;
                width: 42%;
                display: flex;
                align-items: center;
                padding-left: 2px;
                border-radius: 5px;
                padding: 2px 2px 2px 4px;
            }
        }

    }

    .border-tool {
        background-color: var(--secondary-color);
        /* border: 1px solid var(--border-color); */
    }

    input {
        width: 30px;
        background-color: var(--secondary-color);
    }
}

.border-width-sub-section {
    height: 100%;
}
