.new-collection-container {
    /* width: calc(20% - 40px); */
    width: calc(21% - 15px);
    height: 120px;

    background-color: var(--base-color);
    padding: 20px;

    border: 1px solid var(--idle-border-border);

    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
        border: 1.5px solid var(--hover-border-border);
    }

    .new-collection-button-wrapper {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-radius: 100px;
    }
}
