.sidebar-content-container {
    width: calc(100% - 40px);
    padding: 20px;

    .sidebar-content-header {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--idle-border-border);
        margin-bottom: 10px;
    }

    .sidebar-group {
        color: var(--primary-font-color)
    }

    .nested-element-wrapper {
        padding: 10px 0px 0px 15px;
        color: white;

        &._group {
            padding-left: 0px;
            color: var(--primary-font-color);
        }

        .nested-element {
            display: flex;
            align-items: center;
            gap: 7px;
        }

        .nested-icon {
            height: 15px;
            width: 15px;
        }
    }
}
