.sidebar-content-container {
    width: calc(100% - 40px);
    padding: 20px;

    .sidebar-content-header {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--idle-border-border);
        margin-bottom: 10px;
    }

    .sidebar-group {
        color: var(--primary-font-color)
    }

}

.nested-element-wrapper {
    padding-left: 15px;

    &._group {
        padding-left: 0px;
    }

    .nested-element {
        display: flex;
        align-items: center;
        gap: 6px;
        padding-top: 10px;

        color: var(--primary-font-color);

        &.active {
            color: white;
            font-weight: 600;
        }
    }

    .caret-icon {
        width: 12px;
        height: 12px;

        color: var(--hover-border-border);
    }

    .nested-icon {
        width: 14px;
        height: 14px;
    }

    .nested-children {
        margin-left: 6px;
        border-left: 1px dashed var(--hover-border-border);
        padding-left: 10px;
    }
}
