.label-title {
    color: var(--secondary-font-color);

    span {
        color: white;
    }
}

.ind-page-content {
    width: auto;
    min-height: 100vh;
    position: relative;

    display: grid;
    grid-template-columns: 5fr;

    padding: 0px;

    &:has(.page-sidebar) {
        grid-template-columns: 5fr 2fr;
    }

    .page-sidebar {
        border-left: 1px solid var(--idle-border-border);
    }
}
