/* gutter */
.gutter {
    display: flex;
    flex-direction: column;
    align-items: center;


    .content {
        margin-top: 50px;
        width: var(--cotent-width);
    }

}



.heading {
    color: white;
}

.description {
    color: var(--secondary-font-color);
}


h1,
h2,
p {
    margin: 0;
}

body {
    background-color: var(--base-color);
}

.page {
    width: calc(100% - calc(var(--gutter-padding) * 2));
    position: relative;
    padding: 30px var(--gutter-padding) 0px var(--gutter-padding);
}

.page-content {
    width: calc(100% - calc(var(--gutter-padding) * 2));
    min-height: 100vh;

    position: relative;
    padding: 30px var(--gutter-padding) 0px var(--gutter-padding);
}

textarea {
    resize: none;
}

.main-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    overflow: scroll;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* icons */
.circle-icon {
    width: 30px;
    height: 30px;

    background-color: var(--idle-border-border);
    border-radius: 100px;

    border: 1px solid var(--idle-border-border);

    display: flex;
    align-items: center;
    justify-content: center;
}

.collections {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 20px;
}

/* input { */
/*     background-color: var(--secondary-color); */
/*     outline: none; */
/*     border: var(--border-color); */
/* } */
/**/
/* input:focus-visible { */
/*     outline: none; */
/*     border: none; */
/* } */
