/* gutter */
.gutter {
    display: flex;
    flex-direction: column;
    align-items: center;


    .content {
        margin-top: 50px;
        width: var(--cotent-width);
    }

}



.heading {
    color: white;
}

.description {
    color: var(--secondary-font-color);
}


h1,
h2,
p {
    margin: 0;
}

body {
    background-color: var(--base-color);
}

.page {
    width: calc(100vw - 180px);
    height: 100vh;

    position: relative;

    padding: 30px 60px 0px calc(60px + var(--gutter-padding));

}
