.date-picker-container {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;

  .date-input-field {
    background-color: var(--field-color);
    border: 1px solid var(--border-color);
    color: var(--dark-font);
    border-radius: 4px;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    &:hover {
      background-color: var(--secondary-color);
    }

    .calendar-icon {
      margin-left: 8px;
    }
  }

  .calendar-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 280px;
    // background-color: var(--secondary-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;

    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid var(--border-color);

      .month-nav {
        background: none;
        border: none;
        color: var(--dark-font);
        cursor: pointer;
        padding: 4px 8px;

        &:hover {
          background-color: var(--primary-color);
          border-radius: 4px;
        }
      }

      .current-month {
        font-weight: bold;
        color: var(--dark-font);
      }
    }

    .calendar-weekdays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      padding: 5px 0;
      border-bottom: 1px solid var(--border-color);

      .weekday {
        text-align: center;
        color: var(--dark-font);
        font-size: 0.8rem;
        padding: 5px 0;
      }
    }

    .calendar-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      padding: 5px;

      .calendar-day {
        text-align: center;
        padding: 8px 0;
        cursor: pointer;
        border-radius: 4px;
        color: var(--dark-font);

        &:hover {
          background-color: var(--secondary-color);
        }

        &.empty {
          cursor: default;

          &:hover {
            background-color: transparent;
          }
        }

        &.selected {
          background-color: var(--secondary-color);
          color: white;

          &:hover {
            background-color: white;
          }
        }
      }
    }
  }
}

//}}//}}
