$collection-preview-height: 150px;
$collection-preview-width: 100%;
$collection-preview-bg: var(--primary-color);

.gutter {
    display: flex;
    flex-direction: column;
    align-items: center;


    .content {
        margin-top: 50px;
        width: var(--cotent-width);
    }

}

.root-collection-page {
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* color: var(--primary-font-color); */
    /* color: var(--secondary-font-color); */

    .collection-group-heading {
        color: white;
    }

    .collection-group-description {
        color: var(--secondary-font-color);
    }
}

.collection-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.collection-preview {
    width: calc($collection-preview-width - 50px);
    height: calc($collection-preview-height - 40px);
    background-color: $collection-preview-bg;

    padding: 20px 25px;

    border-radius: 3px;
    border: 1.5px solid var(--idle-border-border);
    transition: all 100ms ease-in-out;

    color: var(--secondary-font-color);

    .collection-heading {
        transition: all 100ms ease-in-out;

        color: var(--primary-font-color);
    }

    .collection-slug {
        color: var(--secondary-font-color);
    }

    &:hover {
        border: 1.5px solid var(--hover-border-border);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 5px;

        .collection-heading,
        .collection-slug {
            color: white;
        }
    }
}


h1,
h2,
p {
    margin: 0;
}
