.root-collection-page {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .collection-group-heading {
        color: white;
    }

    .collection-group-description {
        color: var(--secondary-font-color);
    }
}
