.page-header-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-info-wrapper {
    display: flex;
    gap: 30px;
}

.page-header-action-btns {
    display: flex;
    gap: 20px;
}
