.sidebar-item {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid var(--idle-border-border); */
    border-left: 2px solid transparent;

    color: var(--secondary-font-color);
    user-select: none;

    &.active {
        border-left: 2px solid white;
        color: white;
    }
}
