 .slug-label {
     color: var(--secondary-font-color);

     display: flex;
     align-items: center;
     gap: 10px;

     span {
         width: fit-content;
         color: white;

         display: flex;
         align-items: center;
         gap: 10px;

         .copy-icon {
             color: var(--secondary-font-color);
         }
     }
 }
