.single-select-field-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 1px;
  padding-bottom: 20px;

  .single-select-field-wrapper {
    width: 97%;
    border-radius: 10px;
    // border: 1px solid var(--white-color);
    overflow: hidden;

    background-color: var(--primary-color);

    .single-select-field {
      height: 45px;
      width: 100%;
      font-size: 14px;
      font-weight: 400;
      color: var(--dark-font);
      padding-left: 10px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      border-bottom: 1.5px solid var(--white-color);
      // border-bottom: 1px solid var(--border-color);

      &:hover {
        background-color: var(--primary-color);
      }

      &.last {
        border: none;
      }

      .single-select-field-input {
        background-color: transparent;
        color: white;
      }
    }
  }

  .single-select-field-btn {
    height: 45px;
    width: 97%;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-font);
    background-color: var(--primary-color);
    // padding-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    // border: 1px solid var(--border-color);
    border-radius: 10px;

    margin-top: 20px;

    &:hover {
      // background-color: var(--white-color);
    }
  }
}

.remove-option-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateX(-25px);
}
