.drop-down-menu-anchor {
    position: relative;
}

.drop-down-menu-container {
    position: absolute;
    top: 20px;

    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: black, 0px 7px 29px 0px;

    z-index: 10;

    overflow: hidden;
}

.drop-down-menu-option {
    width: calc(100% - 40px);
    padding: 15px 20px;
    min-width: 150px;
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
        color: white;
        background-color: var(--primary-color);

        &.delete {
            color: var(--ligth-red-fg);
            background-color: var(--ligth-red-bg);
        }
    }

}
