.sidebar-container {
    /* width: var(--gutter-padding); */
    width: 52px;
    height: 100vh;
    margin-top: -1px;

    z-index: 10;

    border-right: 1px solid var(--idle-border-border);
    border-top: 1px solid var(--idle-border-border);

    background-color: var(--base-color);

    transition: width 0.2s ease-in-out;

    &.active {
        width: 300px;
    }
}
