.sidebar-container {
    width: var(--gutter-padding);
    height: 100vh;

    position: absolute;
    left: 0;
    top: var(--gutter-padding);

    z-index: 10;

    border-right: 1px solid var(--idle-border-border);
    border-top: 1px solid var(--idle-border-border);

    background-color: var(--base-color);

    &.active {
        width: 300px;
    }
}
