.sidebar-container {
    width: var(--gutter-padding);
    height: 100vh;

    position: absolute;
    left: 0;
    top: var(--gutter-padding);

    border-right: 1px solid var(--idle-border-border);

    &.active {
        width: 100px;
    }
}
