.fields-promt-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 30px;
}

.action-btn-wrapper {
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10px;

  .create-block-button {
    // width: 96%;
    padding: 8px 12px;
    margin: 10px 0;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: var(--dark-font);
    border: none;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      // background-color: darken(var(--primary-color), 5%);
    }
  }
}
