$collection-preview-height: 145px;
$collection-preview-width: 100%;
$collection-preview-bg: var(--primary-color);

.collection-preview {
    width: calc($collection-preview-width - 50px);
    height: calc($collection-preview-height - 40px);
    background-color: $collection-preview-bg;

    padding: 20px 25px;

    border-radius: 3px;
    border: 1.5px solid var(--idle-border-border);
    /* transition: all 100ms ease-in-out; */

    color: var(--secondary-font-color);

    .collection-preview-heading {
        font-size: 18px;
        font-weight: 500;

        /* transition: all 100ms ease-in-out; */
        color: var(--primary-font-color);
        margin-bottom: 2px;
    }

    .collection-preview-slug {
        font-size: 15px;
        color: var(--secondary-font-color);
    }

    &:hover {
        border: 1.5px solid var(--hover-border-border);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 5px;

        .collection-preview-heading {
            color: white;
        }

        .collection-preview-slug {
            span {
                color: white;
            }
        }
    }
}
