.collection-preview-container {
    width: 15%;
    height: 120px;

    background-color: var(--primary-color);
    padding: 10px;

    border: 1.5px solid var(--idle-border-border);

    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    &:hover {
        border: 1.5px solid var(--hover-border-border);

        .collection-preview-wrapper .collection-slug span {
            color: white;
        }
    }

    .collection-preview-wrapper {
        height: 100%;

        .collection-name {
            font-size: 18px;
            font-weight: 600;
        }

        .collection-slug {
            color: var(--secondary-font-color);

            span {
                color: var(--primary-font-color)
            }
        }
    }


    .new-collection-button-wrapper {
        height: 30px;
        width: 30px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 10px;
        right: 15px;

        border: 1.5px solid var(--idle-border-border);
        border-radius: 100px;
    }
}
