.explorer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .explorer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;

    .explorer-options-container {

      padding-left: 8px;
      padding-right: 8px;
      height: 100vh;
      // border-right: 1px solid var(--border-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .explorer-options-wrapper {
        width: 100%;
        height: 96.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .icons-container {
          display: flex;
          flex-direction: column;
          align-items: center;

          .icon-item {
            cursor: pointer;
            transition: transform 0.1s ease;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid var(--base-color);

            &:hover {
              transform: scale(1.15);
            }

            &.selected {
              background-color: white;
              border-color: var(--border-color);
            }
          }
        }
      }
    }

  }

  .content-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: transform 0.6s ease;
    transform-origin: left center;

    // &.isometric {
    //   transform: perspective(7983px) rotateY(-60deg) rotateX(0deg) translateY(150px) translateX(338px);
    //   transform-style: preserve-3d;
    //
    //   .content-wrapper {
    //     box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
    //   }
    // }

    .content-wrapper {
      height: 98.2vh;

      width: 99.3%;
      overflow: scroll;
      border-radius: 20px;
      border: 1px solid var(--border-color);
      display: flex;
      background-color: white;
      transition: box-shadow 0.6s ease;
    }
  }
}

.isometric-toggle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 8px 16px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10;

  &:hover {
    background-color: #3a80d2;
  }
}

.explorer-options-wrapper {
  width: 0px;
  transition: all 0.6s ease;

  &.folder {
    width: 500px
  }
}

//}
