.text-field-section {
    width: 100%;
    padding-top: 15px;

    display: flex;
    flex-direction: column;

    gap: 15px;

    &:last-child {
        border-bottom: none;
    }

    .description {
        color: var(--secondary-font-color);
        font-size: 14px;
    }
}
