.text-field-section {
    padding-top: 15px;
    border-bottom: 1px solid var(--idle-border-border);

    display: flex;
    flex-direction: column;

    gap: 15px;

    &:last-child {
        border-bottom: none;
    }

    .description {
        color: var(--secondary-font-color);
        font-size: 14px;
    }
}

input {
    background-color: var(--field-color);
    outline: none;
    border: var(--border-color);
}

input:focus-visible {
    outline: none;
    border: none;
}
