.save-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;

  padding: 8px 12px;
  // border: 1px solid var(--border-color);
  background-color: var(--white-color);

  &:hover {
    background-color: var(--base-color);
  }

  .json-icon {
    color: var(--light-font);
  }

  .save-btn-text {
    font-size: 14px;
    color: var(--light-font);
  }
}
