.content-field-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: grey;

    font-size: 14px;
}

.content-sub-section-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-textarea {
    width: 65%;
    background-color: var(--secondary-color);
    color: white;
    border: none;

    border-radius: 5px;
}
