.page-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .wrapper {
    display: flex;

  }


  .blocks-list-container {
    width: 100%;
    // min-height: 100vh;
    display: flex;

    .blocks-list-wrapper {
      width: 100%;
      // min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px;

      .fields-prompt-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
      }

      .blocks-prompt-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;

        .block-promt-item {
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .create-block-button {
          width: fit-content;
          padding: 10px 20px;
        }
      }
    }

    .add-button-wrapper {
      margin-top: 20px;
      display: flex;
      gap: 20px;
    }

  }
}

.sidebar-container {
  width: 0vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-left: 1px solid transparent;
  transition: width 0.2s ease-in-out;

  &.open {
    width: 40vw;
    border-left: 1px solid var(--border-color);
  }
}

.add-blocks-btn-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

//}//}
