.page-content-container {
  width: 100%;
  display: flex;

  .blocks-list-container {
    width: 100%;
    margin-top: 30px;
  }

  .sidebar-container {
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-left: 1px solid var(--border-color);
  }
}

//}
