.collection-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .parent-collection-container {
    width: 90%;
    // padding: 30px;

    .parent-collection-wrapper {
      width: 100%;
      display: flex;
      // flex-direction: row;
      flex-direction: column;

      .select-type-wrapper {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        // flex-wrap: wrap;
        justify-content: space-between;
        // gap: 30px;

        .type-option-container {
          height: 180px;
          width: 250px;
          cursor: pointer;

          border: 1.5px solid var(--border-color);
          border-radius: 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            border: 1.5px solid var(--dark-green);
          }

          .type-option-wrapper {
            width: 80%;
            height: 80%;

            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 20px;
          }
        }
      }
    }
  }

  .divider {
    height: 1.5px;
    width: 100%;

    background-color: var(--border-color);
  }

  .collection-wrapper {
    width: 90%;
    height: 100%;

    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}

.intro-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-bottom: 20px;

  .heading-wrapper {
    .heading {
      font-size: 32px;
    }

    .info-wrapper {
      display: flex;
      gap: 20px;
    }
  }

  .collection-id {
    font-size: 14px;
  }

  .description {
    font-size: 16px;
  }

  .edited-date {
    font-size: 14px;
  }
}
