.selected-value-container {
    display: flex;
    align-items: center;

    background-color: var(--secondary-color);
    border-radius: 7px;

    .selected-value-field {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 14px;

        padding: 7px 12px;
    }

    .selected-value-field-arrow {
        padding: 7px;
        border-left: 1.5px solid black;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}
