.btn {
    background-color: var(--secondary-color);
    border: var(--idle-border-border-val);
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-sm {
    width: 40px;
    height: 40px;
}

.btn-lg {
    width: fit-content;
    height: 30px;

    display: flex;
    align-items: center;
    gap: 5px;

    padding: 0px 10px 0px 5px;
}

.bg-white {
    background-color: white;
    color: black;
}
