:root {
    font-family: sans-serif;
    /* --base-color: #f3f5f7; */
    --base-color: rgba(243, 245, 247, 0.5);

    --lighth-green: #e7f8ee;
    --dark-green: #2ba46e;

    --lighth-blue: #e6f4fe;
    --dark-blue: #1c7cc3;

    --lighth-yellow: #fdf9dc;
    --dark-yellow: #e69739;

    --border-color: #e9ebef;
    --outer-radius: 20px;

    --dark-font: #434343;
    --light-font: #84878a;

    background-color: var(--base-color);
    /* background-color: #f9fafc; */
}

body {
    margin: 0px;
}

input {
    outline: none;
    border: none;
}

input:focus-visible {
    outline: none;
    border: none;
}
