:root {
    font-family: sans-serif;

    --base-color: #090909;
    --primary-color: #101011;
    --secondary-color: #17181b;

    --base-color-1: #17181b;
    --base-color-2: #101011;
    --white-color: #0b0b0c;

    --lighth-green: #183d2a;
    --dark-green: #2ba46e;

    --lighth-blue: #102a43;
    --dark-blue: #1c7cc3;

    --lighth-yellow: #3d2c02;
    --dark-yellow: #e69739;

    --ligth-red: #41272a;

    --border-color: #23252a;
    --dark-font: #e3e4e7;
    --light-font: #595a5c;

    --field-color: #101011;

    background-color: var(--base-color);
}

body {
    margin: 0;
}

input {
    background-color: var(--field-color);
    outline: none;
    border: none;
}

input:focus-visible {
    outline: none;
    border: none;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --base-color: #090909;
        --primary-color: #101011;
        /* --secondary-color: #17181b; */
        --secondary-color: #1c1d1f;

        --base-color-1: #17181b;
        --base-color-2: #101011;
        --white-color: #0b0b0c;

        --lighth-green: #183d2a;
        --dark-green: #2ba46e;

        --lighth-blue: #102a43;
        --dark-blue: #1c7cc3;

        --lighth-yellow: #3d2c02;
        --dark-yellow: #e69739;

        --ligth-red: #41272a;

        --border-color: #23252a;
        --dark-font: #e3e4e7;
        --light-font: #595a5c;

        --field-color: #101011;
    }

    body {
        background-color: var(--base-color);
        color: var(--dark-font);
    }
}

/* --base-color: #f3f3f3; */
/* --base-color: #f8f9fa; */
/**/
/* --primary-color: var(--base-color); */
/**/
/* --white-color: #ffffff; */
/* --base-color-1: var(--white-color); */
/* --base-color-2: var(--base-color); */
/**/
/* --lighth-green: #e7f8ee; */
/* --dark-green: #2ba46e; */
/**/
/* --lighth-blue: #e6f4fe; */
/* --dark-blue: #1c7cc3; */
/**/
/* --lighth-yellow: #fdf9dc; */
/* --dark-yellow: #e69739; */
/**/
/* --ligth-red: #feefef; */
/**/
/* --border-color: #e9ebef; */
/**/
/* --outer-radius: 20px; */
/**/
/* --dark-font: #434343; */
/* --light-font: #84878a; */
/**/
/* --field-color: white; */
