:root {
    font-family: sans-serif;

    --cotent-width: 900px;

    --base-color: #0a0a0a;
    --primary-color: #121212;
    --secondary-color: #0d0d0d;

    --primary-font-color: #939393;
    --secondary-font-color: #5F5F5F;

    --border-radius: 3px;

    --icon-color: #5f5f5f;

    --gutter-padding: 50px;

    --idle-border-border: #1D1D1D;
    --hover-border-border: #2B2B2B;

    --icon-color: #5F5F5F;

    background-color: var(--base-color);

    --background: oklch(1 0 0);

    --foreground: oklch(0.145 0 0);

    --card: oklch(1 0 0);

    --card-foreground: oklch(0.145 0 0);

    --popover: oklch(1 0 0);

    --popover-foreground: oklch(0.145 0 0);

    --primary: oklch(0.205 0 0);

    --primary-foreground: oklch(0.985 0 0);

    --secondary: oklch(0.97 0 0);

    --secondary-foreground: oklch(0.205 0 0);

    --muted: oklch(0.97 0 0);

    --muted-foreground: oklch(0.556 0 0);

    --accent: oklch(0.97 0 0);

    --accent-foreground: oklch(0.205 0 0);

    --destructive: oklch(0.577 0.245 27.325);

    --destructive-foreground: oklch(0.577 0.245 27.325);

    --border: oklch(0.922 0 0);

    --input: oklch(0.922 0 0);

    --ring: oklch(0.708 0 0);

    --chart-1: oklch(0.646 0.222 41.116);

    --chart-2: oklch(0.6 0.118 184.704);

    --chart-3: oklch(0.398 0.07 227.392);

    --chart-4: oklch(0.828 0.189 84.429);

    --chart-5: oklch(0.769 0.188 70.08);

    --radius: 0.625rem;

    --sidebar: oklch(0.985 0 0);

    --sidebar-foreground: oklch(0.145 0 0);

    --sidebar-primary: oklch(0.205 0 0);

    --sidebar-primary-foreground: oklch(0.985 0 0);

    --sidebar-accent: oklch(0.97 0 0);

    --sidebar-accent-foreground: oklch(0.205 0 0);

    --sidebar-border: oklch(0.922 0 0);

    --sidebar-ring: oklch(0.708 0 0);
}

p {
    font-size: 14px;
}

body {
    background-color: #000000;
    margin: 0;
}

input {
    background-color: var(--field-color);
    outline: none;
    border: var(--border-color);
}

input,
textarea {
    padding: 10px;
    border: 1px solid var(--border-color) !important;
    border-radius: var(--border-radius);

    background-color: var(--primary-color);

    color: white;

    &::placeholder {
        text-align: left;
        vertical-align: top;
        font-weight: 400;
        color: var(--secondary-font-color);
    }

    &:focus {
        border-color: white !important;
        outline: none;
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --base-color: #090909;
        --primary-color: #101011;
        /* --secondary-color: #17181b; */
        /* --secondary-color: #1c1d1f; */
        /* --tertiary-color: #181a1b; */
        --tertiary-color: #1c1d1f;

        --base-color-1: #17181b;
        --base-color-2: #101011;
        --white-color: #0b0b0c;

        --lighth-green: #183d2a;
        --dark-green: #2ba46e;

        --lighth-blue: #102a43;
        --dark-blue: #1c7cc3;

        --lighth-yellow: #3d2c02;
        --dark-yellow: #e69739;

        --ligth-red: #41272a;

        --border-color: #27272a;
        /* --border-color: #23252a; */
        /* --border-color: var(--primary-color); */
        --dark-font: #e3e4e7;
        --light-font: #595a5c;

        --field-color: #101011;
    }

    body {
        background-color: var(--base-color);
        color: var(--dark-font);
    }
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    color: white;
    background-color: transparent;
}
