.versions-list-container {
    width: auto;

    .versin-container {
        border: 1px solid var(--idle-border-border);

        padding: 30px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
