.section-container {
    min-height: 150px;

    border-bottom: 1px solid var(--idle-border-border);

    padding: 20px calc(var(--gutter-padding) / 2) 35px var(--gutter-padding);

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    .section-header {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--secondary-font-color);

        .action-btns {
            display: flex;
            align-items: center;
            gap: 10px;

            .plus-icon {

                &:hover {
                    color: white;
                }
            }

            .horizontal-dots-icon {

                &.active {
                    color: white;
                }

                &:hover {
                    color: white;
                }
            }
        }
    }

    .fields-list {
        width: 100%;
    }

    .sections-content {
        padding-top: 15px;
    }
}
