.section-container {
    min-height: 150px;

    border-bottom: 1px solid var(--idle-border-border);

    padding: 15px calc(var(--gutter-padding) / 2) 15px var(--gutter-padding);

    .section-header {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--secondary-font-color);

        .action-btns {
            display: flex;
            align-items: center;
            gap: 10px;

            .plus-icon {

                &:hover {
                    color: white;
                }
            }

            .horizontal-dots-icon {

                &.active {
                    color: white;
                }

                &:hover {
                    color: white;
                }
            }
        }
    }
}

/* drop down menu */
.drop-down-menu-anchor {
    position: relative;
}

.drop-down-menu-container {
    position: absolute;
    top: 20px;

    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: black, 0px 7px 29px 0px;

    z-index: 10;

    overflow: hidden;
}

.drop-down-menu-option {
    width: calc(100% - 40px);
    padding: 15px 20px;
    min-width: 150px;
    color: var(--primary-font-color);

    &:hover {
        color: white;
        background-color: var(--primary-color);

        &.delete {
            color: var(--ligth-red-fg);
            background-color: var(--ligth-red-bg);
        }
    }

}
