.project-list-container {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;

    margin: 40px;

    .project-folder-continaer {
        height: 200px;
        width: 200px;
        background-color: var(--secondary-color);

        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .project-folder-header {
            width: 100%;
            display: flex;
            justify-content: end;
        }

        .project-folder-body {
            padding: 10px;
        }
    }

    .project-folder-add {
        height: 200px;
        width: 200px;
        border: 1.5px solid var(--secondary-color);

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;

    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.add-project-popup-container {
    height: auto;
    width: 450px;
    background-color: var(--secondary-color);

    position: fixed;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 8px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .project-name-input {
        height: 40px;
        width: calc(100% - 20px);
        color: white;

        border: 1px solid var(--border-color);
        border-radius: 5px;

        padding-left: 20px;
    }

    .project-popup-action-btns-container {
        width: 100%;
        height: 20px;

        display: flex;
        justify-content: end;
        gap: 10px;
        padding-bottom: 20px;

        .action-btn {
            height: 100%;
            padding: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 5px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .project-popup-create {
            background-color: white;
            color: black;
        }
    }
}
