.element {
    height: 50px;
    width: 50px;
}

.default-class {
    background-color: #333;
    color: white;
}

.red-box {
    background-color: red;
}

.blue-box {
    background-color: blue;
    color: white;
    padding: 20px;
}
