.blocks-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.block-container {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;

  border-radius: 20px;
  border: 1px solid var(--border-color);

  // border-left: 7px solid white;

  // &:hover {
  //   border-left: 7px solid var(--dark-blue);
  // }

  .drag-handle {}

  .block-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .block-header-container {
      width: 100%;
      height: 50px;
      border-radius: 19px 19px 0px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;
      cursor: pointer;
      transition: border-radius 0.3s ease;
      background-color: var(--base-color);

      &.collapsed {
        border-radius: 19px;
        // margin-bottom: 0; 
      }

      .block-header-wrapper {
        width: 96%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        .block-type {
          font-size: 18px;
          font-weight: 500;
          color: var(--dark-font);
        }
      }
    }

    .fields-container {
      width: 97%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-height: 1000px;
      overflow: hidden;
      transition: max-height 0.5s ease, opacity 0.3s ease, padding 0.3s ease;
      opacity: 1;
      padding-top: 20px;

      &.collapsed {
        max-height: 0;
        opacity: 0;
        padding: 0px;
      }

      .fields-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }

      .sidebar-container {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
    }
  }
}
